*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#item-container{
    padding: 20px 40px;
    height: 79vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;
    overflow-x: scroll;

}
.card-box{
    padding: 20px;
    height: 300px;
    width: 240px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}
.card-box:hover{
    transform: rotate(-4deg);
    
    
}
.image{
    height: 60%;
    width: 100%;
}
.price-tag{
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 0px;
}
.category-tag{
    margin-top: 8px;
    color: rgba(8, 9, 8, 0.4);
    font-style: italic;
}
.link-tag{
    text-decoration: none;
}